*
{
    padding: 0px;
    margin:0px;
}
body
{
    cursor: default;
}
div
{
    position: relative;
    text-align: center;
    display:inline-block;
    margin:5px;
    height: 400px;
    width: 500px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#div0
{
    background: #2b206f;
}

#div1
{
    background: #c63714;
}
span
{
    position: fixed;
    height: 75px;
    width: auto;
    background: #089a17;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 3px;
}
button
{
    position: absolute;
    background: #8b1676;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}